<?xml version="1.0" encoding="UTF-8"?>

<Server version="8">
    <Name>OvenMediaEngine</Name>
    <Type>origin</Type>
    <IP>*</IP>
    <PrivacyProtection>false</PrivacyProtection>

    <StunServer>stun.l.google.com:19302</StunServer>

    <Modules>
        <HTTP2>
            <Enable>true</Enable>
        </HTTP2>

        <LLHLS>
            <Enable>true</Enable>
        </LLHLS>
    </Modules>

    <Bind>
        <Managers>
            <API>
                <Port>8081</Port>
                <TLSPort>8082</TLSPort>
                <WorkerCount>1</WorkerCount>
            </API>
        </Managers>
        <Providers>
            <WebVTT>
                <Port>9090</Port>
            </WebVTT>
        </Providers>
    </Bind>
    <Managers>
        <Host>
            <Names>
                <Name>*</Name>
            </Names>
        </Host>
        <API>
            <AccessToken>admin:admin</AccessToken>
            <CrossDomains>
                <Url>*</Url>
                <Url>http://localhost</Url>
            </CrossDomains>
        </API>
    </Managers>

    <VirtualHosts>
        <VirtualHost>
            <Name>default</Name>
            <Distribution>ovenmediaengine.com</Distribution>

            <Host>
                <Names>
                    <Name>*</Name>
                </Names>
            </Host>
            <Applications>
                <Application>
                    <Name>app</Name>
                    <Type>live</Type>
                    <Providers>
                        <WebVTT>
                            <DumpToFile>true</DumpToFile>
                        </WebVTT>
                    </Providers>
                </Application>
            </Applications>
        </VirtualHost>
    </VirtualHosts>
</Server>

